@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li><h3>Api Key:</h3><h4>@ViewData["ApiKey"]</h4></li>
        </ul>
    </div>
</div>
